$base-color: #fff;
$layout-width: 940px;
$schedule-lesson-h: 100px;
$black: #303030;
$gray: #d1d4d5;
$dark-blue: #58595b;
$green: #75c13f;
$light-green: #c5e3b2;
$darkest-green: #308c37;
$darkest-blue: #004c04;
$yellow: #ffd300;
$bright-yellow: #ffc700;
$light-yellow: #ffed97;
$brown: #967e1a;
$silver: #c5c5c5;
$other-blue: #5a5a5a;
$light-pink: #fff7de;
$violet: #f0f0f0;
$dark-gray: #818284;
$dark-black: #000;
$blue: #0087af;
$light-blue: #00aee0;
$middle-blue: #00bae5;
$lighter-blue: #00bbe7;
$middle-gray: #6f6f6f;
$light-gray: #ddd;
$extralight-gray: #e3e5e6;
$extralight-blue: #f5fcff;
$pink: #e072b8;
$bright-pink: #ff6c62;
$dark-brown: #696969;
$bright-green: #3db733;
$middle-green: #86bf7d;
$dark-green: #627a5d;
$middle-black: #060606;
$most-lighter-gray: #eaeaea;
$lighter-gray: #a2a2a2;
$other-gray: #828282;
$other-black: #333;
$purple: #ac7d99;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  position: relative;
  font: {
    family: "Open Sans", sans-serif;
    size: 14px;
    weight: 400;
  }
}

.clearfix {
  display: table;
  clear: both;
  content: "";
}

.layout-center-wrapper {
  position: relative;
  width: $layout-width;
  margin: 0 auto;
}

table,
td,
tr,
th {
  border: 0;
}

%vertical-line {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
}


