$schedule-current-time-mark-size: 7px;

.schedule-hour-row__lesson-cell {
  position: relative;
  height: $schedule-lesson-h;
  border: 1px solid;
  border-color: $light-gray $extralight-gray;
  &:first-child {
    border-left: 1px solid $gray;
  }
  &:last-child {
    border-right: 1px solid $gray;
  }
  @include border-box;
}

.schedule-hour-time {
  position: absolute;
  top: 4px;
  left: -20px;
  @include transform(rotate(270deg));
  color: $middle-gray;
  font-size: 10px;
}

.schedule-current-time {
  position: absolute;
  left: 0;
  width: $layout-width - 1;
  background: $lighter-blue;
  height: 1px;
  z-index: 4;
  &:before {
    content: "";
    position: absolute;
    background: $lighter-blue;
    @include size($schedule-current-time-mark-size, $schedule-current-time-mark-size);
    @include border-radius(50%);
    left: - $schedule-current-time-mark-size;
    top: - .5 * $schedule-current-time-mark-size;
  }
}

@for $i from 0 through 11 {
  .schedule-current-time--#{$i*5} {
    top: 1/12 * $i * $schedule-lesson-h;
  }
}

.schedule-hour-row__lesson-cell--current {
  &:before {
    @extend %full-absolute;
    left: -1px;
    right: -1px;
    background: transparent;
    border-left: 1px solid $light-blue;
    border-right: 1px solid $light-blue
  }
  background: $extralight-blue;
}

.schedule-hour-row__lesson-cell--holiday {
  background: $pink !important;
  background: rgba($pink, .1) !important;
}

